# JavaScript
*.js
!jest.config.js
*.d.ts
*node_modules/

# CDK asset staging directory
.cdk.staging
cdk.out

# Python
*__pycache__*
venv/

# IDE
.idea
.DS_Store

# pytest
*.pytest_cache/
*.coverage
*/htmlcov/

# black
*.black_version

# cursor
.cursor/
